{% extends "base.html" %}
{% block content %}
<img src="/img/warning_clojure.png"></img>

<div class="container">
    <form action="/login" method="POST">
        {% csrf-field %}
        <input name="username" type="text" value=""/>
        <input name="password" type="password" value=""/>
        <button type="submit">Log in</button>
    </form>
</div>

{% endblock %}
