{% extends "base.html" %}
{% block content %}
<h1> Signup</h1>
<div class="container">
    <form action="/signup" method="POST">
        {% csrf-field %}
        <input name="username" type="text" value=""/>
        <input name="password" type="password" value=""/>
        <button type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}
